<div class="row">
    <div class="col-12">    
        <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-center">
                    <div>
                        <div *ngFor="let pelicula of peliculas">
                            <div class="" style="height: 260px;">                
                                <div class="align-self-center text-center titulo ;">{{pelicula.title}}</div>                                
                                <div class="align-self-center imagenx">    
                                            <img src="{{pelicula.image}}" style="height:200px; width: 180px;"/>                
                                        </div>            
                                <div class="align-self-center text-center imagenx
                                            aniox">{{pelicula.year}}</div>            
                            </div>                            
                        </div>
                    </div>
                </div>     
                <div class="d-flex justify-content-center">
                    <div>
                        <div *ngFor="let pelicula of peliculas">
                            <div class="" style="height: 260px;">                
                                <div class="align-self-center text-center titulo ;">{{pelicula.title}}</div>                                
                                <div class="align-self-center imagenx">    
                                            <img src="{{pelicula.image}}" style="height:200px; width: 180px;"/>                
                                        </div>            
                                <div class="align-self-center text-center imagenx
                                            aniox">{{pelicula.year}}</div>            
                            </div>                            
                        </div>
                    </div>
                </div>     
                <div class="d-flex justify-content-center">
                    <div>
                        <div *ngFor="let pelicula of peliculas">
                            <div class="" style="height: 260px;">                
                                <div class="align-self-center text-center titulo ;">{{pelicula.title}}</div>                                
                                <div class="align-self-center imagenx">    
                                            <img src="{{pelicula.image}}" style="height:200px; width: 180px;"/>                
                                        </div>            
                                <div class="align-self-center text-center imagenx
                                            aniox">{{pelicula.year}}</div>            
                            </div>                            
                        </div>
                    </div>
                </div>     
                <div class="d-flex justify-content-center">
                    <div>
                        <div *ngFor="let pelicula of peliculas">
                            <div class="" style="height: 260px;">                
                                <div class="align-self-center text-center titulo ;">{{pelicula.title}}</div>                                
                                <div class="align-self-center imagenx">    
                                            <img src="{{pelicula.image}}" style="height:200px; width: 180px;"/>                
                                        </div>            
                                <div class="align-self-center text-center imagenx
                                            aniox">{{pelicula.year}}</div>            
                            </div>                            
                        </div>
                    </div>
                </div>     
                <div class="d-flex justify-content-center">
                    <div>
                        <div *ngFor="let pelicula of peliculas">
                            <div class="" style="height: 260px;">                
                                <div class="align-self-center text-center titulo ;">{{pelicula.title}}</div>                                
                                <div class="align-self-center imagenx">    
                                            <img src="{{pelicula.image}}" style="height:200px; width: 180px;"/>                
                                        </div>            
                                <div class="align-self-center text-center imagenx
                                            aniox">{{pelicula.year}}</div>            
                            </div>                            
                        </div>
                    </div>
                </div>        
        </div>
    </div>
</div>