<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-around">                  
        
                <div *ngFor="let pelicula of peliculas; let i = index">
                    <div class="" style="height: 250px;">                
                        <div class="align-self-center text-center titulo;">
                            <h5>{{pelicula.title}}</h5>
                        </div>                                
                        <div class="align-self-center imagenx">    
                            <img src="{{pelicula.image}}" style="height:150; width: 220px; margin-left:5%;"/>                
                        </div>            
                        <div class="align-self-center text-center imagenx aniox">
                            {{pelicula.year}}                    
                        </div>            
                        <div class="align-self-center text-center;">
                        
                        
                            <button (click)="verFavorita(i)" 
                            type="button" class="btn btn-success">Selecciona</button>
                        
                            <!-- <a [routerLink]="['/favoritos/', i]" class="btn btn-success">Elegir</a>
                                -->
                            </div>
                    </div>                            
                </div>                
            
                  
        </div>
    </div>
</div>